<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/signup}" th:object="${userDto}">


    <!-- 이메일 -->
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" placeholder="Enter your email" required />
    </div>

    <!-- 비밀번호 -->
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" placeholder="Enter your password" required />
    </div>

    <!-- username -->
    <div>
        <label for="username">username:</label>
        <input type="text" id="username" th:field="*{username}" placeholder="Enter your password" required />
    </div>

    <!-- (선택 사항) 전화번호 -->
    <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Enter your phone number (optional)" />
    </div>

    <div>
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" th:field="*{birthday}" name="birthday" required>
    </div>

    <button type="submit">Login</button>
</form>

</body>
</html>